@CHARSET "UTF-8";

input, textarea {
	font-family: "Comic Sans MS", Verdana;
	font-size: 1em;
}

fieldset {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	border: none;
}

fieldset.withgreyborder {
	border: 1px solid #c6c6c6;
	margin-bottom: 10px;
}

label {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 0.8em;
	font-weight: normal;
	color: #4A4A4A;
}
label.vcenter {
	position: relative;
	-webkit-transform: translateY(50%);
	-ms-transform:     translateY(50%);
  	-moz-transform:    translateY(50%);
	transform:         translateY(50%);
}

input, select, textarea {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 5px;
	float: left;
	width: 100%;
	border: 1px solid #b4b4b4;
	font-size: 0.8em;
	vertical-align: middle;
	padding: 5px;
	color: #8f8f8f;
}

input[type="checkbox"] {
	margin-top: 0.5em;
	-ms-transform:     scale(1.5);
  	-moz-transform:    scale(1.5);
  	-webkit-transform: scale(1.5);
  	transform:         scale(1.5);
}

input[type="checkbox"] + label{
	width: 70%
}

input[type="radio"] {
	width: 20%;
}

input[type="radio"] + label {
	width: 70%;
	font-size: 1.0em;
}

textarea {
	height: 100px;
}

input:focus, textarea:focus {
	background-color: #edeced;
}

.field_half_left {
	width: 46%;
	margin-right: 4%;
}
.field_half_right {
	width: 46%;
	margin-left: 4%;
}

.field_sixth_left {
	width: 60%;
	margin-right: 4%;
}
.field_sixth_right {
	width: 60%;
	margin-left: 4%;
}

.field_eigth_left {
	width: 80%;
	margin-right: 2%;
}
.field_eigth_right {
	width: 80%;
	margin-left: 2%;
}

.field_third_left {
	width: 30%;
	margin-right: 4%;
}
.field_third_center {
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
}
.field_third_right {
	width: 30%;
	margin-left: 4%;
}

.field_tenth_left {
	width: 10%;
	margin-right: 1%;
}

.errormessage {
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	border: 0px solid #f9ae93;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
	background-color: #f9ae93;
	padding: 5px;
}

.successmessage {
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	border: 0px solid #d2f5d0;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
	background-color: #d2f5d0;
	padding: 5px;
}