@CHARSET "UTF-8";

body {
	font-family: "Comic Sans MS", Verdana;
	font-size: 1em;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

.col {
	padding: 5px 5px 5px 5px;
}

.col-12-lg {
	position: relative;
	float: left;
	width:         calc(100% - 10px); /*minus general padding*/
	width:    -moz-calc(100% - 10px); /*minus general padding*/
	width: -webkit-calc(100% - 10px); /*minus general padding*/
}

.col-9-lg {
	position: relative;
	float: left;
	width:         calc(75% - 10px); /*minus general padding*/
	width:    -moz-calc(75% - 10px); /*minus general padding*/
	width: -webkit-calc(75% - 10px); /*minus general padding*/
}

.col-6-lg {
	position: relative;
	float: left;
	width:         calc(50% - 10px); /*minus general padding*/
	width:    -moz-calc(50% - 10px); /*minus general padding*/
	width: -webkit-calc(50% - 10px); /*minus general padding*/
}

.col-1-lg {
	position: relative;
	float: left;
	width: 8%;
}

img {
	width: 100%;
            box-shadow: 4px 4px 6px 1px rgba(191,184,191,1);
	   -moz-box-shadow: 4px 4px 6px 1px rgba(191,184,191,1);
	-webkit-box-shadow: 4px 4px 6px 1px rgba(191,184,191,1);
}

.centerText {
	text-align: center;
}

/* ++++ style changes for smaller screens ++++ */
@media screen and (max-width: 1200px) {
	main {
		max-width: 1000px;
	}
}

/* ++++ style changes for as example tablets ++++ */
@media screen and (max-width: 780px) {
	main {
		max-width: 700px;
	}
}

/* ++++ style changes for as example smartphones ++++ */
@media screen and (max-width: 530px) {
	main {
		max-width: 480px;
	}
	
	.col-12-sm {
		width:         calc(100% - 10px); /*minus general padding*/
		width:    -moz-calc(100% - 10px); /*minus general padding*/
		width: -webkit-calc(100% - 10px); /*minus general padding*/
	}
	
	.col-9-sm {
		width:         calc(75% - 10px); /*minus general padding*/
		width:    -moz-calc(75% - 10px); /*minus general padding*/
		width: -webkit-calc(75% - 10px); /*minus general padding*/
	}
	
	.col-6-sm {
		width:         calc(50% - 10px); /*minus general padding*/
		width:    -moz-calc(50% - 10px); /*minus general padding*/
		width: -webkit-calc(50% - 10px); /*minus general padding*/
	}
}
